<app-header></app-header>
<section class="header-banner">
    <div class="container">
      <div class="header-banner-info">
        <h1>Messaging & More</h1>
        <p><span class="red">Let the world know! </span>Broadcast your message within seconds using MailBIT API: </p>
        <button (click)="openModal()">
          CONTACT SALES
        </button>
      </div>
    </div>
  </section>

<section class="services">
  <div class="container">
    <div class="services-title">
      <h3 class="red">SERVICES</h3>
      <h2>A2P Let the world Know!</h2>
      </div>
    <div class="services-cards">
      <div class="services-cards-item">
        <div class="services-cards-item_img-wrapper" >
          <img src="../assets/img/message.svg" alt="message">
         </div>
        <h3>Bulk Messaging</h3>
        <p>Make each message count as an opportunity for your customers and your business.</p>
      </div>
      <div class="services-cards-item">
        <div class="services-cards-item_img-wrapper" >
          <img src="../assets/img/locked.svg" alt="message">
        </div>
        <h3>Authentication</h3>
        <p>Keep both your system & User privacy secured by using 2FA mechanism applied.</p>
      </div>
      <div class="services-cards-item">
        <div class="services-cards-item_img-wrapper" >
          <!--svg work incorrectly-->
          <img src="../assets/img/notification.png" alt="message">
        </div>
        <h3>Notifications</h3>
        <p>Show your clients you care. Keep your clients updated & Happy with Real-time notifications.</p>
      </div>
      <div class="services-cards-item">
        <div class="services-cards-item_img-wrapper" >
          <img src="../assets/img/SMS_API.svg" alt="message" style="top: 60%;">
        </div>
        <h3>SMS API</h3>
        <p>Programmatically send and receive SMS in practically every country.</p>
      </div>
      <div class="services-cards-item">
        <div class="services-cards-item_img-wrapper" >
          <img src="../assets/img/verified.svg" alt="message">
        </div>
        <h3>Verify</h3>
        <p>Two-factor authentication made simple with an API.</p>
      </div>
      <div class="services-cards-item">
        <div class="services-cards-item_img-wrapper" >
          <img src="../assets/img/Web_SMS.svg" alt="message" style="top: 60%;">
        </div>
        <h3>WEB SMS</h3>
        <p>User friendly planform that allow you. Submit & track your amazing campaigns
          Within seconds.</p>
      </div>
    </div>
    </div>
 </section>

<section class="messages">
  <div class="container">
    <h2 class="messages-title"><span class="separator">Your message</span> at the right time & place</h2>
    <p>Maximize your revenues by broadcasting your great message 
      <br>to potential customers at predefined
      <span class="red">time & location</span>
      such
      <br>  as shopping centers , convention enters , airport ect.</p>
    <a href="#" class="red messages-link">Learn more about LBS…</a>
    <img class="messages-img" src="../assets/img/messages.svg" alt="messages">
  </div>
</section>

<section class="mms">
  <div class="container">
    <h2 class="mms-title"><span class="separator">MMS multimedia</span> Messaging</h2>
    <p class="red">Feature phone is not dead.</p>
    <p>In contrast to the smartphone market, which contracted for the first time in 2018, the feature phone market has continued to grow over the last three years. Feature phones sales in 2019 expected as 400 Million and 1 Billion by 2021.
      </p>
      <p>Multimedia messages support , Images and Video and various types of files
      It does not required internet connection and can cover any device.</p><br>
    <p>For more multimedia messaging information <a href="#" class="red mms-link">contact sales.</a></p>
    <img class="mms-img" src="../assets/img/pictures.svg" alt="pictures">
    <img class="mms-img" src="../assets/img/subtract.svg" alt="subtract">
  </div>
</section>
